body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../images/image2.jpg"), no-repeat center center fixed;
    background-size: 100% 100%;
    min-height: 750px;
    background-attachment: fixed;
}

/* container for header , all sections  */
.container{
  width: 75%;
  overflow:hidden;
  margin: auto;
  }

ul {
    margin:0;
    padding: 0;
}

/* start header */

header{
  background:#007a5a;
    color:#fff;
    padding-top: 20px;
    min-height: 70px;
}
header #branding{
    float: left;
}
header #branding h1 {
    margin: 0;
}

header nav{
    float: right;
    margin-top: 5px;
}

header  nav ul li {
    float: left;
    display: inline;
    padding: 0 7px 0 7px ;
}

header nav  ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
}
header nav  ul li a:hover{
    color:#ccc;
    font-weight: bold;
}

header .active a {
    color:#002e22;
    font-weight: bold;
}
i.fab {
   margin: 3px ;
   color:#002e22;
 }

/* end header */
.wrapper {
  padding-left: 10%;
  padding-top: 5%;
  padding-right: 10%;
}

/*btn group*/
.btn-group {
	width: 100%;
	height: 20px;
	margin-bottom:30px;
  margin-top: 80px;
  margin-left:150px;
  font-size: 15px;
  line-height: 0.33;
  position: relative;
}

.btn{
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 10px 30px;
  font-size: 20px;
  line-height: 1.0;
  border-radius: 4px;
  margin-left: -4px;
}

.btn-save{
  color: white;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 5px 20px;
  font-size: 15px;
  line-height: 1.0;
  border-radius: 4px;
  float: right;
  margin-top: 3px;
  background-color: #007a5a;

}
#register{
  background-color: #007a5a;
}

/*end of btn group*/

/*form general*/
.form, .form2, .form3{
  display: inline-block;
  position: relative;
	padding: 10px 20px 40px;
	width: 375px;
	background-color: #DEDCDC;
	box-shadow: 0 0 25px 0 #000;
}

.form2{
  margin-bottom: 10%;
}

.form h2 {
	color: #434740;
  font-size: 1.5rem;
	margin: 10px 0 20px 0;
  font-weight: bold;
  text-align: center;
}
.form2 h2{
  color: #434740;
  font-size: 20px;
  margin: 20px 0 10px 0;
}

.form p{
  color: grey;
  font-size: 15px;
}
.form p a{
  color: #007a5a;
}

.form input, .form button, .form h2 {
  font-weight: 100;
}
.my_select{
  display: block;
  color: gray;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  font-size: 22px;
  height: 50px;
  padding: 4px 6px;
  border-radius: 4px;
  margin-bottom: 10px;

}

.my_select:focus {
  outline: none;
  border: 1px solid #44C7A9;
}

input[type="text"]{
	display: block;
  color: gray;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	font-size: 22px;
  height: 50px;
  padding: 4px 6px;
  border-radius: 4px;
  margin-bottom: 10px;
}
#quantity{
  width: 92%;
  height: 45px;
}
#add-food, #statistics{
  float: left;
  width: 30%;
}
#statistics{
  margin-top: 5%;
  height: 230px;
  margin-bottom: 10%;
}
#calendar{
  float: right;
  width: 60%;
  height: 60%;
}

input:focus {
	outline: none;
	border: 1px solid #44C7A9;
}

.input-std {
	width: 95.5%;
}

.input-half {
	width: 45.9%;
	float: left;
}

.input-quarter {
	width: 21%;
	float: left;
}

.btn-submit {
	width: 95.5%;
	font-size: 30px;
	padding: 11px 19px;
	border-radius: 6px;
	border: 2px solid #cccccc;
	cursor: pointer;
	color: #ffffff;
}

.btn-submit:focus {
	outline: none;
}

.meal-section{
  height: 100px;
  background-color: white;
  border-radius: 4px;
}

@media only screen and (min-width: 1080px) and (max-width:1300px){
  #add-food{
    width: 30%;
  }
  #calendar{
    width: 55%;
  }
  #quantity{
    width: 90%;
    height: 40px;
  }

}
@media only screen and (min-width: 800px) and (max-width:1080px){
  #add-food{
    width: 30%;
  }
  #calendar{
    width: 55%;
  }
  #quantity{
    width: 90%;
    height: 40px;
  }
}
@media only screen and (min-width: 601px) and (max-width:800px){
  body{min-height: 700px;}
  header{padding: 5px;}
  header h1{font-size: 30px;}
  header nav  ul li a  { font-size: 15px;}
  #add-food,#calendar,#statistics{
    width: 90%;
  }
  .meal-section{
    height: 250px;
  }
  .form,.form2,.form3{
    margin-bottom: 10%;
    float: none;
  }
  #quantity{
    width: 92%;
  }
   .meal-section{
    height: 200px;
  }
  #calendar{float: none;}
}
@media only screen and (min-width: 450px) and (max-width: 601px){

  body{min-height: 700px;}
  header{padding: 5px;}
  header h1{font-size: 30px;}
  header nav  ul li a  { font-size: 15px;}
  #add-food,#calendar,#statistics{
    width: 90%;
  }
  .meal-section{
    height: 250px;
  }
  .form,.form2,.form3{
    margin-bottom: 10%;
    float: none;
  }
  input[type = "text"],.my_select{
    height: 40px;
    font-size: 15px;
  }
  #quantity{
    width: 90%;
    height: 35px;
  }
  .btn-submit{
    padding: 5px 10px;
    height: 45px;
    font-size: 15px;
  }
  #statistics{
    margin-top: 0;
  }
  .form2 h2 {
    font-size: 19px;
  }
}

@media only screen and (max-width:450px){
  body{min-height: 700px;}
  header{padding: 5px;}
  header h1{font-size: 30px;}
  header nav  ul li a  { font-size: 15px;}
  #add-food,#calendar,#statistics{
    width: 90%;
  }
  .form,.form2,.form3{
    margin-bottom: 10%;
    float: none;
  }
  input[type = "text"],.my_select{
    height: 30px;
    font-size: 15px;
  }
  .btn-submit{
    padding: 5px 10px;
    height: 35px;
    font-size: 15px;
  }
  #quantity{
    width: 90%;
    height: 25px;
  }
  .form2 h2 {
    font-size: 17px;
  }

  #statistics{
    margin-top: 0;
  }
  .meal-section{
    height: 200px;
  }
  #calendar{float :none;}
}
